/* nav bar */

.navbar {
    background-color: #1E1E1E;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 999;
    padding-left: 151px;
    padding-right: 151px;
}

.navbar-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    height: 100%;
    width: 60%;
}

.navbar-links a:hover {
    color: #5e6eff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s;
}

.navbar-links a:hover img {
    transform: rotate(180deg);
    transition: cubic-bezier(.32, .11, .39, .61) 0.5s;
}

.navbar-links a img {
    transition: cubic-bezier(.17, .67, .83, .67) 0.5s;
}

.dropdown-link {
    display: flex;
    align-items: center;
    position: relative;
}

.dropdown-link img {
    margin-left: 10px;
}

.dropdown-items {
    display: none;
    padding: 10px 15px;
    border-radius: 10px;
    z-index: 999;
}

.dropdown:hover .dropdown-items {
    display: block;
    position: absolute;
    background-color: #1E1E1E;
}

.dropdown-item {
    padding: 10px;
}

.navbar-btn {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #5465FF;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s;
}

.navbar-btn:hover {
    background-color: #ececec;
    color: #5465FF;
    border-radius: 15px;
    box-shadow: inset 5px 5px 8px #b5bfcc,
        inset -5px -5px 8px #ffffff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s;
}

.navbar-btn-mobile {
    display: none;
    border: none;
    background-color: #1E1E1E;

}

.navbar-btn-mobile img {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 1762px) {
    .navbar-links {
        width: 70%;
        font-size: 18px;
    }
}

@media screen and (max-width: 1502px) {
    .navbar {
        padding-left: 100px;
        padding-right: 100px;
    }

    .navbar-links {
        font-size: 18px;
    }

}

@media screen and (max-width: 1220px) {
    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 1064px) {
    .navbar-box {
        justify-content: space-between;
    }
}

@media screen and (max-width: 840px) {
    .navbar-links {
        display: none;
    }

    .navbar-btn-mobile {
        display: block;
    }
    
}

@media screen and (max-width: 600px) {
    .navbar {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-btn{
        display: none;
    }
}

/*mobile nav bar*/

.mobile-navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    color: #fff;
    z-index: 999;
}

.mobile-navbar-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px 20px;
    background-color: #1E1E1E;
    margin-bottom: 30px;
    align-items: center;
}

.mobile-close-btn{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: #1E1E1E;
    border: none;
}

.mobile-close-btn img {
    width: 40px;
    height: 40px;
}

.mobile-navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    margin-left: 25px;
    margin-bottom: 20px;
    background-color: #5465FF;
    padding: 50px 20px;
    border-radius: 20px 0px 0px 20px;
}

.mobile-navbar-links ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.mobile-navbar-links a {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.mobile-navbar-links li{
    transform: translateY(0px);
    transition: cubic-bezier(0.165, 0.82,0.075 , 1) 1.5s;
}

.mobile-navbar-links li:hover{
    transform: translateY(10px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
}

.mobile-navbar-links a:hover::after{
    width: 50%;
    transform: translateY(-10px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
}

.mobile-navbar-links a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    box-shadow: #fff 0px 2px 5px;
    background-color: #fff;
    margin-top: 10px;
    transition: cubic-bezier(0.165, 0.82,0.075 , 1) 1.5s;
}

.mobile-navbar-btn{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: #5465FF;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.mobile-navbar-btn:hover {
    background-color: #ececec;
    color: #5465FF;
    border-radius: 15px;
    box-shadow: inset 5px 5px 8px #b5bfcc,
        inset -5px -5px 8px #ffffff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s;
}

@media screen and (min-width: 550px) {
    .mobile-navbar-links a {
        font-size: 2.3rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
}

/* footer */

.footer {
    display: flex;
    height: 400px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 151px;
    padding-right: 151px;
    background-color: #1E1E1E;
    color: #fff;
}

.footer-links,
.footer-contact,
.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links li {
    border: solid 10px #1E1E1E;
}

.info-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}

.info-list li {
    font-size: 1.2rem;
}

.footer-contact img {
    width: 100px;
    height: 100px;
}

.footer-contact {
    align-items: flex-end
}

.footer-contact button {
    margin-top: 0px;
}

.main-btn {
    background-color: #5465FF;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 70px;
    margin-top: 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s;
}

.main-btn:hover {
    background-color: #ececec;
    color: #5465FF;
    border-radius: 15px;
    box-shadow: inset 4px 4px 7px #c3cdd9,
        inset -4px -4px 7px #ffffff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s;
}

.main-item {
    background-color: #5465FF;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 10px #ffffff;
    transform: translateX(-10px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -20px;
    transform: translateY(10px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s;
}

.main-item a {
    transform: translateY(2px);
}

.main-item:hover {
    background-color: #5465FF;
    border: solid 5px #26323892;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s;
}

.main-container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1920px) {
    .footer {
        padding-left: 100px;
        padding-right: 100px;
    }
    .main-btn {
        font-size: 1.3rem;
        padding: 10px 60px;
    }

}

@media screen and (max-width: 1502px) {
    .footer {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 1220px) {
    .footer {
        padding-left: 50px;
        padding-right: 50px;
    }
    .main-btn {
        font-size: 1.5rem;
        padding: 10px 80px;
    }
}

@media screen and (max-width: 1068px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
        height: 100%;
    }

    .main-container{
        margin-top: 20px;
    }

    .footer-links,
    .footer-contact,
    .footer-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer-links {
        margin-bottom: 40px;
    }

    .footer-links li {
        margin-bottom: 0px;
    }

    .footer-wave{
        width: 90%;
    }

    .footer-contact {
        margin-bottom: 50px;
    }

    .footer-contact img {
        width: 80px;
        height: 80px;
    }

    .footer-contact button {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer-info {
        margin-bottom: 20px;
    }

    .info-list {
        height: 100%;
    }

    .info-list li {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 450px) {
    .main-btn {
        font-size: 1.2rem;
        padding: 10px 50px;
    }
    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-links,
    .footer-contact,
    .footer-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer-wave{
        margin-top: 20px;
    }
 
    .footer-links {
        margin-bottom: 40px;
    }

    .footer-links li {
        margin-bottom: 0px;
    }

    .footer-contact {
        margin-bottom: 50px;
    }

    .footer-contact img {
        width: 80px;
        height: 80px;
    }

    .footer-contact button {
        margin-top: 20px;
    }

    .footer-info {
        margin-bottom: 20px;
    }

    .info-list {
        height: 100%;
        margin: 10px;
    }

    .info-list li {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .copyright{
        font-size: 12px;
    }
    
}